h1{
  color: inherit;
  text-align: center;
  background-color: #CDC8B1;
  font-size: 100;

}
h2{
  color: grey;
}
img{
  background-color: inherit;
  float:left;
  border: 5px solid black;
}
title{
  color:inherit;
}
.columns{
  width: 450px;
  float:left;
  border: 2px solid black;
  padding: 6px;
  background-color: teal;
  margin: 10px;
}
.intro h1 {
  color: red;
  background-color: inherit;
}
.intro h2{
  color: blue;
}
.columns p {
  color: brown;
}
.colimns ol {
  color: purple;
}
li {
  color: inherit;
}
body {
  background-color: teal;
}
